.registration-container {
    border: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}
.login{
    margin-bottom: 10px;
}
#submitButton{
    width: 100%;
}
.registrationForm{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.registration {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.registration h1 {
    text-align: center;
    margin-bottom: 30px;
}
/* .registration form input[type="text"], */
/* .registration form input[type="email"],
.registration form input[type="password"] */
/* .registration form input[type="date"]  */
/* {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
} */

.registration form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.registration form input[type="submit"]:hover {
    background-color: #3e8e41;
}

.registration p {
    text-align: center;
    font-size: 14px;
    color: #666;
}

.registration a {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #4CAF50;
    text-decoration: none;
    transition: color 0.3s ease;
}

.registration a:hover {
    color: #3e8e41;
}